.log-input-field{
	text-align: center
}

.whole-site-margin{
	margin: 20px;
}

.output-margin {
	margin: 20px;
	margin-bottom: 70px;
}

.navigation{
	bottom: 0px;
	position: fixed;
	width: 100%;
	text-align: center;
	background-color: #353531;
}

.beautify-button{
	margin: 20px;
}

body{
	background-color: #353531;
	margin: 0px;
}

textarea{
	background-color: #C3C3C3;
}

ul, li
{
	list-style-type: none;
}

ul
{
	padding: 0px;
}

.verbose-log{
	color: #EDF5FE;
}

.info-log{
	color: #05A8AA;
}

.debug-log{
	color: #40FD65;
}

.warning-log{
	color: #F5B700;
}

.error-log{
	color: #C03221;
}
